.lang-btn {
  position: absolute;
  left: 30px;
  top: 10px;

  @media (min-width: $width-1200) {
    left: 50px;
  }

  @media (max-width: $width-992) {
    display: inline-block;
    position: relative;
    top: auto;
    right: auto;
    left: auto;

    .btn {
      width: 40px;
      padding: 2px 6px;
      font-size: 1rem;
      border: 0 ;
    }
  }
}