@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$text-color: #5C6168;
$bg-left: #E8EAEE;
$bg-right: #F7F7F7;

$width-1200: 1199.98px;
$width-992: 991.98px;